.content {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px  3px 0 black,
    3px  3px 0 black;
}

.ouga {
  color: #4CA1AF;
}

.bouga {
  color: #F2784B;
}

.jungle {
  color: #2c933b;
}
